{% extends "base.html" %}
{% load static %}
{% block nav_home %} active {% endblock nav_home %}
{% block content %}



<div class="row mt-5">
    <div class="col-12 text-center">
        <h2 class="mb-3" >Thank you for using our services.</h2>
        <h4 >Your order will be at your door as soon as possible.</h4>
    </div>
     <div class="col-12 text-center mt-3">
        <a href="/menu" class="btn btn-warning">Continue Shopping</a>
    </div>
</div>











<br>
<br>
<br>
<br>
{% endblock %}